.site-title {
  position: relative;
  background-color: red;
}

.site-title .title {
  font-size: 42px;
  font-weight: 500;
  position: absolute;
  width: 50%;
  z-index: 20;
  top: 65px;
  color: var(--rgba-primary-9);
}
